:host {
  display: block;
}

.ql-editor {
  font-size: 1.1rem;
  line-height: 1.8;
}

.ql-editor img {
  max-width: 100%;
}

.ql-editor iframe {
  width: 100%;
  border: none;
}

.ql-container {
  border: none;
}

.ql-toolbar {
  display: none;
}
