<header class="header sticky top-0 z-50 bg-base-100 shadow-sm border-b">
  <div class="container mx-auto px-4">
    <div class="navbar p-0 min-h-20 items-center justify-between">
      <div class="navbar-start flex items-center">
        <a href="../../../../index.html" class="text-2xl font-bold sitename no-underline hover:no-underline mr-10">
          ZenBlog
        </a>

        <div class="hidden lg:flex items-center">
          <ul class="menu menu-horizontal gap-2 px-1 text-lg">
            <li><a class="hover:bg-base-200 rounded-btn py-3">Home</a></li>
            <li><a class="hover:bg-base-200 rounded-btn py-3">Blog</a></li>
            <li><a class="hover:bg-base-200 rounded-btn py-3">Categories</a></li>
            <li><a class="hover:bg-base-200 rounded-btn py-3">About</a></li>
          </ul>
        </div>
      </div>



      <div class="navbar-end flex items-center gap-4">
        <input type="text" placeholder="Search" class="input input-bordered w-24 md:w-64 h-10"/>
        <app-user-profile></app-user-profile>
      </div>
    </div>
  </div>
</header>

